:root {
	--caribbean-current: #156064;
	--mint: #00c49a;
	--naples-yellow: #f8e16c;
	--melon: #ffc2b4;
	--coral: #fb8f67;

	--white: #f2f2f2;
}

@font-face {
	font-family: 'Bauhaus';
	src: url('fonts/bauhaus/BauhausRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BauhausBold';
	src: url('fonts/bauhaus/BauhausBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'BauhausBoldItalic';
	src: url('fonts/bauhaus/BauhausBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'BauhausItalic';
	src: url('fonts/bauhaus/BauhausItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--mint);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--caribbean-current);
}

html {
	display: flex;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: var(--white);
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
	display: none;
	visibility: hidden;
}

.page-content {
	margin: 100px 20px 15px 20px;
	display: flex;
	flex: 1;
	flex-direction: column;
}
